* {
    font-family: "Libre Baskerville", serif;
}
.owl-img {
    height: 20vh;
}
a {
    text-decoration: none !important;
}
.font-color {
    color: black;
}
.checkout-form label {
    font-size: 12px;
    font-weight: 700;
}
.checkout-form input {
    font-size: 14px;
    padding: 5px;
    font-weight: 400;
}
